.footer-box {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;

}

.footer__logo {
    font-size: 1rem;
    color: brown;
    font-weight: 600;
}
.footer-img{
    width: 100px;
    display: block;
}

.footer__description {
    display: block;
    font-size: .813rem;
    margin: .25rem 0 1.5rem;
}

.footer__social {
    font-size: 1.5rem;
    color: #393939;
    margin-right: 1rem;
}

.footer__title {
    font-size: 1.25rem;
    color: #393939;
    margin-bottom: 1rem;
}

.footer__link {
    display: inline-block;
    color: #707070;
    margin-bottom: .5rem;
}

.footer__link:hover {
    color: brown;
}

.footer__copy {
    text-align: center;
    font-size: .813rem;
    color: #A6A6A6;
    margin-top: 3.5rem;
}




ul {
    padding: 0;
    list-style: none;
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

a {
    text-decoration: none;
}

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;

}

.section {
    padding: 4rem 0 2rem;
}