.app__blogs .app__blogs-box-container {
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;

}
.app__blogs{
  // background-color: white;
  padding: 5rem 9%;
  
}

.app__blogs .app__blogs-box-container .app__blogs-box {
  border-radius: 16px;
  background: brown;
  overflow: hidden;
}

.app__blogs .app__blogs-box-container .app__blogs-box:hover .app__blogs-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-image {
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content {
  padding: 2rem;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content .app__blogs-link {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content .app__blogs-link a{
  text-decoration: none;
    
}


.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content .app__blogs-link:hover {
  color: #29d9d5;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content p {
  padding: 16px 0;
  font-size: 16px;
  color: #aaa;
  line-height: 2;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content .app__blogs-icon {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content .app__blogs-icon a {
  font-size: 16px;
  color: #aaa;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content .app__blogs-icon a:hover {
  color: #29d9d5;
}

.app__blogs .app__blogs-box-container .app__blogs-box .app__blogs-content .app__blogs-icon a i {
  padding-right: .5rem;
  color: #29d9d5;
}

.app__blogs-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.app__blogs-heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.app__blogs-heading h1 {
  font-size: 4rem;
  color: #fff;
}